.sideBar {
    width: 200px;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    margin-left: 30px;
    background-color: #fff;
    border: 2px dashed #e2e2e2;
    border-radius: 20px;
}

.sideBar div{
    width: 200px;
    display: flex;
    align-items: 10px;
    color: #fe5d42;
    font-weight: 500;
}

.sideBar p{
    margin-left: 10px;
}

.sideBar li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

.sideBar li:hover{
    color: #fe5d42;
}


.selected{
    background-color: rgba(255, 0, 0, 0.405);
    border-radius: 12px;
    padding: 20px;
}